<h1>About Page</h1>
<p><b>Contents:</b></p>

<p>1 - 7x7 Game Board</p>

<p>5 - Green “Castle” Pieces</p>

<p>75 - White Pieces</p>

<p>75 - Black Pieces</p>

<p>50 - Red Pieces</p>

<p>50 - Blue Pieces</p>

<p><b>Overview:</b></p>

<p>Towers is a 3-dimensional strategy board game pitting two players against each other to build massive towers to control the land, and capture the 5 forts that dot the countryside. Players take turns building their mighty towers or using them to claim new territory or capture their opponent’s lesser towers. Outwit your opponent, and be the first to claim enough fort, and take your seat on the throne of your new kingdom.</p>

<p><b>Things you need to know:</b></p>

<p>Tower Piece -- All the non green pieces are held by players off the board and are kept by the players color who matches the pieces color. the green pieces are fort pieces and they will be placed on the board at setup.</p>

<p>Tower -- A tower is a stack of tower pieces that are on the board.</p>

<p>Fort -- A fort starts with one green piece. Forts act like towers except you cannot build on them. Control enough forts and win the game</p>

<p>Control -- Control of a tower or fort is determined by looking at the top piece. Whatever color that piece is that player controls it.</p>

<p>(ie: if the top piece is white the white player controls it) </p>

<p>Lock -- You can only lock forts. A fort is considered locked when the fifth tower piece is placed. (ie: if the fifth piece on a fort is black the black player has locked that fort)</p>

<p>The quick tips are <b>EXTREMELY </b>helpful and should be read and referenced if you are unsure about something during play. </p>

<p><b>2 Player Setup :</b></p>

<p>Each Player takes 75 pieces of his color.</p>

<p>Place a green piece on each of the green fort squares as shown in the diagram. </p>

<p>Each player places a 2-piece tall tower of their color on each square </p>

<p>that match that players color on the board. </p>

<p><br />
</p>

<p>Each player should have 8 pieces on the board and there should be 5 fort castle pieces.</p>

<p><br />
</p>

<p><b>Playing the Game:</b></p>

<p><i><b>Winning</b></i><b>:</b></p>

<p>A player wins if he controls 4 of the 5 forts on the board, has locked 3 or more forts, or his opponent cannot build or push during his turn.</p>

<p><i><b>Playing:</b></i></p>

<p>Starting with the white player, players alternate taking turns going clockwise, building up their towers and knocking them down. Trying to capture fort and enemy towers, get better positions, and defend your own towers.(building and pushing will be explain below) Repeat turns until a winner is determined.</p>

<p><i><b>Turns</b></i><b>:</b></p>

<p>During his/her turn, a player must either build or push a tower <b>THEY CONTROL</b>. The player can only take one of two actions, not both. If the player cannot take either action, he loses the game.</p>

<p><i>Building</i> – A player may use the build action by placing a tower piece from their reserve on top of any tower they control. </p>

<ul>
    <li><p>You can only build on a tower <b>YOU CONTROL</b></p>

    </li>
    <li><p>You <b>CANNOT </b>build on forts</p>

    </li>
    <li><p>You cannot build on a tower that is already <b>5</b> piece tall</p>

    </li>
</ul>

<p><i>Pushing</i> – a player may choose to push any tower or castle he controls</p>

<ol> <li><p>Select a tower or castle that is more than one piece tall to push that you control.</p>

</li>
    <li><p>Choose a non-diagonal direction to push the tower.</p>

    </li>
    <li><p>Check the next square in the chosen direction.</p>

    </li>
</ol> <ul>
    <li><p>See which pieces of the original tower are blocked(on the same level as another piece) by the tower in the next square</p>

    </li>
    <li><p>.<b>The lowest piece of the pushed tower always counts as blocked and will never move.</b></p>

    </li>
    <li><p>if the next space is off the board all pieces count as <b>blocked</b></p>

    </li>
</ul>

<ul>
    <li><p>Move all <b>non</b>-blocked(all the pieces that are higher than the pieces in the next square) pieces of the pushed tower on top of the next tower</p>

    </li>
</ul>

<ol start="4"> <li><p>Repeat step 3 using the new tower to see which of the pieces are blocked until all of the original tower's pieces have been blocked. <b>Making sure only pieces of the original tower are moved</b></p>

</li>
</ol><p><br />
</p>

<p><b>QUICK TIPS &amp; EXAMPLES:</b></p>

<ul>
    <li><p>Pushing is how you travel around the board and building lets you change how far you go and what you can capture.</p>

    </li>
    <li><p>You can only gain control of castle by falling on them.</p>

    </li>
    <li><p>A Tower will never be higher than 5 pieces tall EVER.</p>

    </li>
    <li><p>A Tower during a push will never travel farther than its starting height.</p>

    </li>
    <li><p>At least 1 piece of the original tower has to move for it to count as a push</p>

    </li>
    <li><p>You cannot push a tower that is 1 piece tall</p>

    </li>
    <li><p>At least one piece of the original tower must be left in each space the tower falls through</p>

    </li>
    <li><p>It <b>DOES</b> count as a push if only one piece moves. (ie: if a tower is 4 tall and the next tower in the push is three tall the top piece of the 4 tall tower will move on top of the 3 tall one and that's the entire push.)</p>

    </li>
    <li><p>You can push forts but if they were locked the lock is lost.</p>

    </li>
    <li><p>Only pieces of the original tower move but you use the towers they fall on top of to determine which ones are blocked.</p>

    </li>
    <li><p>You cannot push onto or through a tower that is taller than the tower falling.</p>

    </li>
    <li><p>At least one piece of the original tower must be left on each spot you fall on.</p>

    </li>
    <li><p>A push cannot change directions.</p>

    </li>
    <li><p>A push must travel as far as possible even if it would be more useful to not </p>

    </li>
    <li><p>You may only do one action on your turn build or push.</p>

    </li>
</ul>

<p><br />
    <br />
</p>

<p><b>Four Player Game:</b></p>

<p> Setup:</p>

<p>Each Player takes 50 pieces of thier color and places the pieces in front of themselves </p>

<p>Place a green piece on each of the green castle squares as shown in </p>

<p>the diagram. </p>

<p>Each player places a 2-piece tower of their color on each square </p>

<p>that match that players color on the board. </p>

<p>Each player should have 8 pieces on the board and there should</p>

<p>be 5 green castle pieces.</p>

<p><i><b>Winning</b></i><b>:</b></p>

<p>A player wins if he controls 3 of the 5 castles on the board, </p>

<p>controls 2 or more crowned castles, or none of his opponents can move.</p>

<p><br />
</p>

<p>Additional rule -- if you cannot move your turn in skipped.</p>

<p><br />
    <br />
</p>
